.navbar{
    display:flex;
    justify-content: center;
    background-color: beige;
    
}

.container{
    padding: 10px 0px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap:30px;

}

.links span{
    border-radius: 5px;
    border: 5px;
    border-color: black;
    padding: 5px 10px;
    font-weight: 500;
    cursor: pointer;
}



.links span:hover{
    background-color: rgb(211, 160, 19);
    color: white;
}
