.featuredimgcontainer{
    height: 500px;
    margin-bottom: 10px;
    overflow: hidden;

}

.wrapper{
    width:700px;
    background-color: #171010;
    padding: 10px;
    border-radius: 10px;

}

.someclass{
    display: flex;
    gap: 10px;
    width: 680px;
    align-items: center;
}




.fullwarapper{
    width:700px;
}

.wrapperimg{
   display: flex;
    justify-content: space-around;
    gap:50px;
    align-items: center;
    transition: all 1.5s ease-in-out;


}

.featuredimage{
    height: 450px;
    width: 300px;
}

.featuredimage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform .2s; 
    border-radius: 5px;

}


.featuredimage img:hover{
    transform: scale(1.05) 
 
 }

.descriptionbox{
    height: 150px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 20px;
    width: 400px;
    
}

.descriptionbox .year{
    font-size: 20px;
}

.top{
    flex :1;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    flex-direction: column;
    gap: 5px;
}

.up{
    display: flex;
}

.title{
    padding-right: 20px;
    width: 200px;

}

.top .year{
    padding-right: 20px;

}

.top .score{
    background-color:#F7B733;
    width: 75px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    padding: 0px 2px;
    height:40px;

    
}

.top .lowscore{
    background-color:rgba(255, 0, 0, 0.925);
    width: 75px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    padding: 0px 2px;
     height:40px;
}

.bottom{
    flex: 2;
    width:300px;
}

.bottom .description{

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 100px;

}

.up title{

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;


}

.bottom button{
    position: absolute;
    bottom: 20px;
    color: #171010;
    border-radius: 2px;
    background-color: #F7B733;
    color: BLACK;
    font-weight: bold;
}



@media screen and (max-width:480px){
    .featuredimgcontainer{
        height: 520px;
        overflow: hidden;
        width: 100vw;  
        margin-bottom: 20px;
    }

    .someclass{
        display: flex;
        gap: 10px;
        width: 330px;
        align-items: center;
        flex-direction: column;
    }

    .wrapper{
        position: relative;
        height: 550px;
        display: flex;

    }

    .featuredimage img{
        height: 350px;
        width: 250px;


    }


    .wrapperimg{
        gap: 80px;
        width: 330px;
        position: absolute;
        left:-335px;
    }




     .descriptionbox{
        height: 10px;
        width: 250px;  
        display: flex;
        justify-content: center;
        margin-right: 30px; 
        z-index: 2;
        gap: 0px;


    }



    .up{
        font-size: 20px;
        display: flex;
        flex-direction: column;
        gap:10px;
    }

   .scoretext{
        font-size: 15px;
    }

    .top .score{
        width: 30px;
        height:20px;
        
    }

    .top .lowscore{
        width: 30px;
        height:20px;
        
    }

    .up .title{
        width: 250px;
    }

    
    .top .year{
        font-size: 15px;

    }

    .bottom{
        width:100px;
    }

    .title{
        width: 150px;
    }

    .bottom .description{
        width: 250px;
        font-size: 15px;
    }

    .bottom button{
        position: relative;
        bottom: 80px;
        font-size: 10px;
    }


    
}