.movie{
    display: flex;
    justify-content: center; 

}

.moviecontainer{
    display: flex;
    width: 700px;
    height: 50px;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
    color:#e4e4e4;
    background-color: #4F4557;
    padding: 5px;
    justify-content: space-between;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.212);
    transition: 0.3s  ease-in-out;
}


.moviecontainer:hover{
    background-color: #86A3B8;
    transform: scale(1.03);
}

.movieleft{
    display: flex;
    align-items: center;
}
.movieright{
    display: flex;
    align-items: center;
}

.index{
    color: black;
    padding: 5px 20px;
    font-size: 25px;
    border-radius: 10px;
    font-weight: bold;
    font-style: italic;
    color: #e4e4e4;
}

.moviename{
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
    width:300px;
    font-size: 20px;
    color:#e4e4e4;
}

.moviecontainer .score{
    padding: 5px 15px;
    border-radius: 10px;
    width:30px;
    justify-content: center;
    display: flex;
    font-size: 25px;
    color:#e4e4e4;
}


.moviecontainer .score:first-child{
    color: #C8DBBE;
    font-size: 20px;
}

.moviecontainer .score:nth-child(2){
    color: #FF6464;
    font-size: 20px;
}

.moviecontainer .score:last-child{
    font-weight: bold;
    color: #FFD369;
}


/* 
.score:hover{
    background-color: black;
    color: white;
} */


@media screen and (max-width:480px){

    
.moviecontainer{

    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;

}

.movieleft .index{
    font-size: 15px;
    padding:5px 10px;

}

.moviename{
    width: 160px;
    margin-right: 0px;
    padding: 0;
    font-size: 16px;
}


.movieright{
    margin-right: 5px;
}
.moviecontainer .score{
    width: 10px;

}

.score span{
    font-size: 20px;
}


}